    </main>
    <footer>
        <p>&copy; <%= new Date().getFullYear() %> Real Estate</p>
        <nav>
          <a href="/about-us">About Us</a>
          <a href="/contact-us">Contact Us</a>
        </nav>
          <link rel="stylesheet" href="/style.css">
        <p>All rights reserved</p>

    </footer>
</body>
</html>  