<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Contact Us</title>
   
  <!-- <link rel="stylesheet" href="/styles/contactUs.css"> -->
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <p><b>office:</b> +973 17700606</p>
        <p><b>mobile:</b> +973 17700606</p>
        <p><b>Email:</b> <a href="mailto:info@ue.properties">info@ue.properties</a></p>
        <p><b>Instagram:</b> <a href="https://instagram.com/ue_properties" target="_blank">@ue_properites</a></p>
    </div>
</body>
</html>
